table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
}
td, th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.red {
  background-color: #ffcccc;
}
.green {
  background-color: #ccffcc;
}
