html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: auto;
}

.navbar {
  padding: 15px;
  flex-wrap: wrap;
}

.navbar a {
  margin: 0 2em;
  text-decoration: none;
  color: white;
  font-size: larger;
}

.main-container {
  padding: 1em;
  display: flex;
  gap: 2em;
  flex: 1;
}

.login-form {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  flex: 1;
}

.login-form label,
.login-form input {
  display: block;
}

.login-form input {
  margin-bottom: 1em;
}

/* news */

.news-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px 5em;
  gap: 10px;
}

.card {
  border: 1px solid;
  border-color: gray;
  border-radius: 10px;
  background-color: rgb(245, 242, 242);
  padding: 0 1em;
}
/* news ends */

/* directions */
.directions-container {
  padding: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.5em;
}

/* directions end */

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .news-container {
    padding: 10px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar a {
    margin: 5px 0px;
  }

  .directions-container {
    padding: 0.1em;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 0.2em;
    font-size: small;
  }

  /* table,
  tbody,
  tr,
  td {
    display: block;
  }

  td {
    border: none;
    padding: 0.5em 0;
    position: relative;
    padding-left: 50%;
  } */

  /* td::before {
    position: absolute;
    top: 0;
    left: 0.5em;
    width: 45%;
    white-space: nowrap;
    font-weight: bold;
    content: attr(data-label);
  } */
}
